# Default ignored files
/shelf/
/workspace.xml
# Rider ignored files
/contentModel.xml
/modules.xml
/.idea.Destiny Island.iml
/projectSettingsUpdater.xml
# Datasource local storage ignored files
/../../../../../../../../:\Projects\Unity Projects\Destiny Island\Destiny Island\.idea\.idea.Destiny Island\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
